<html>
<head>
    <title>Dream Team</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var username, pass;
            $("#submit").click(function(){
                username=$("#username").val();
                password=$("#password").val();
                $.post("/login",{username:username, pass:password}, function(data){
                 if(data==='done') {
                    window.location.href="/home";
                } else {
                    alert('Error your username/password is not valid');
                }
            });
            });
        });
    </script>
</head>
<body>
    <input type="text" size="40" placeholder="Type your username" id="username"><br />
    <input type="password" size="40" placeholder="Type your password" id="password"><br />
    <input class="input-field" type="button" value="Submit" id="submit">
</body>
</html>