<html>
<head>
	<title>Dream Team</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			var username, pass, passconf, email;
			$("#submit").click(function(){
				username=$("#username").val();
				pass=$("#password").val();
				passconf=$("#passwordconf").val();
				email=$("#email").val();
			
                // Check is passwords are the same
                if (pass == passconf) {
                    $.get("/signup",{username:username, pass:pass, email:email}, function(data){
                        if(data==='done') {
                            window.location.href="/home";
                        }else {
                            alert('Error: login');
                        }
                    })
                }
                
            });
        });	
	</script>
</head>
<body>
	<input type="text" size="40" placeholder="Type your username" id="username"><br />
	<input type="text" size="40" placeholder="Type your email" id="email"><br />
	<input type="password" size="40" placeholder="Type your password" id="password"><br />
	<input type="password" size="40" placeholder="Type your password" id="passwordconf"><br />
	<input type="button" value="Submit" id="submit">
</body>
</html>